@media only screen and (min-width:240px) and (max-width:760px) {
    body{
        color:white;
        background-color:black;
    }

}
h1{
    color: blue;
    text-align: center;
    font-family: cursive;
    font-style: italic;
}
h2{
    color: brown;
    font-style: oblique;
    text-align: center;
}
h3{
    color:yellowgreen;
}
.image{
    height:500px;
    width: 500px;
    border-radius: 15%;
}
.row{
    color:yellowgreen;
    text-align: center;
    height: 15px;
    width: 15px;
}
.data{
    color: blueviolet;
    text-align: center;
    height: 15px;
    width: 15px;
}
p{
    font-style: normal;
    font-family: sans-serif;
}
.list{
    color:blueviolet;
    font-size: large;
    font-family: monospace;
}

